@import "tailwindcss";

@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-text-primary: #222;
    --color-dark-text-primary: #FFF;
    --color-bg-primary: #F8FAFC;
    --color-bg-secondary: #00B500;
    --color-dark-bg-primary: #0e1217;
    --color-dark-bg-secondary: #1d2632;
}